<div class="w-full h-16 bg-slate-500"></div>






<!-- 
<style>
    #r::-webkit-scrollbar{
        display: none;
    }
</style>


<div class="flex flex-col h-full overflow-hidden">
    <div class="w-full py-6 bg-slate-400"></div>
    <div id="r" class="flex-1 overflow-scroll bg-green-400">
        <div  class="flex flex-col">
            <div class="w-full py-2 bg-red-300 border-2 border-blue-500 h-11"></div>
            <div class="w-full py-2 bg-red-300 border-2 border-blue-500 h-11"></div>
            <div class="w-full py-2 bg-red-300 border-2 border-blue-500 h-11"></div>
            <div class="w-full py-2 bg-red-300 border-2 border-blue-500 h-11"></div>
            <div class="w-full py-2 bg-red-300 border-2 border-blue-500 h-11"></div>
            <div class="w-full py-2 bg-red-300 border-2 border-blue-500 h-11"></div>
            <div class="w-full py-2 bg-red-300 border-2 border-blue-500 h-11"></div>
            <div class="w-full py-2 bg-red-300 border-2 border-blue-500 h-11"></div>
            <div class="w-full py-2 bg-red-300 border-2 border-blue-500 h-11"></div>
            <div class="w-full py-2 bg-red-300 border-2 border-blue-500 h-11"></div>
            <div class="w-full py-2 bg-red-300 border-2 border-blue-500 h-11"></div>
            <div class="w-full py-2 bg-red-300 border-2 border-blue-500 h-11"></div>
            <div class="w-full py-2 bg-red-300 border-2 border-blue-500 h-11"></div>
            <div class="w-full py-2 bg-red-300 border-2 border-blue-500 h-11"></div>
            <div class="w-full py-2 bg-red-300 border-2 border-blue-500 h-11"></div>
        </div>
    </div>
</div> -->